:root {
    --pm-color: #0099cc;
    --alt-color: #4b5d71;
    --font-color: #5b5775;
    --standard-color: #ffffff;
}

::selection {
    background: var(--alt-color);
    color: var(--standard-color);
}
body {
    font-family: 'Proxima Nova';
    color: var(--font-color);
    background-color: var(--standard-color);
}


/* navigation */

.navbar-light .navbar-toggler {
    border-color: transparent
}

.navigation-menu {
    margin:4% 8%;
}

.navbar-brand img {
    padding-bottom: 10px;
}

.navbar-brand span {
    padding-left: 10%;
    color: var(--pm-color);
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    .navbar-brand span {
        font-size: 1rem;
    }
    .navbar-light .navbar-toggler-icon {
        background-size: 70% 70%;
    }
}

/* cover */

.intro {
    margin-bottom: 15%;
}

.intro .cover h1,h4{
    font-weight: bold;
    font-family: 'proxima_nova_altbold'
}

.intro .cover h4 {
    font-size: 2rem;
    color: var(--pm-color);
}

.intro .cover h1 {
    font-size: 4rem;
    color: var(--alt-color);
}

.landing-btn {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    padding: 4% 10%;
    background-color: var(--pm-color);
    color: var(--standard-color);
    cursor: pointer;
    transition: 0.2s;
}

.landing-btn2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    padding: 1% 3%;
    background-color: var(--pm-color);
    color: var(--standard-color);
    cursor: pointer;
    transition: 0.2s;
}

.btn-border {
    border: 4px solid var(--pm-color);
}
.btn-border:hover {
    border: 4px solid var(--standard-color);
}

.landing-btn:hover {
    background-color: var(--alt-color);
}

.intro .cover h1,h4 {
    margin: 4% 0%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .intro .cover h1 {
        font-size: 3rem;
    }
    .intro .cover h4 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .intro .cover h1 {
        font-size: 2rem;
    }
    .intro .cover h4 {
        font-size: 1rem;
    }
    .landing-btn {
        font-size: 1rem;
    }
}

@media (max-width: 767.98px) {
    .intro .cover h1 {
        font-size: 2rem;
        text-align: center;
    }
    .intro .cover h4 {
        font-size: 2rem;
        text-align: center;
    }
    .landing-btn {
        font-size: 1rem;
        margin-right: 0%
    }
    .intro img {
        display: none
    }
    .intro .btn-center {
        display: flex;
        justify-content: center;
    }
}

/* info */

.info .card {
    border: none;
    border-radius: 20px;
    color: var(--font-color);
    padding: 2% 2%;
    background-color: var(--standard-color);
}

.info .card .card-body .card-title {
    font-weight: bold
}

.info .card .card-body .card-subtitle {
    font-weight: bold;
    color: var(--pm-color)! Important;
}

@media (min-width: 768px) {
    .info .card .card-body .card-text {
        padding-bottom: 25%;
    }
}

.info .hide-tail {
    background-color: transparent
}

@media (min-width: 768px) {
    .info-card {
        background: linear-gradient(180deg, var(--standard-color) 80%, var(--alt-color) 20%);
    }

    .info-card {
        -webkit-box-shadow: 0px 10px 0px 0px var(--alt-color);
        -moz-box-shadow: 0px 10px 0px 0px var(--alt-color);
        box-shadow: 0px 10px 0px 0px var(--alt-color);
    }

    .info .card-shadow {
        -webkit-box-shadow: 0px 0px 0px 8px rgba(217, 217, 217, 0.248);
        -moz-box-shadow: 0px 0px 0px 8px rgba(217, 217, 217, 0.248);
        box-shadow: 0px 0px 0px 8px rgba(217, 217, 217, 0.248);
    }
}

/* open source */

.open-source {
    color: var(--standard-color);
    /* padding: 20% 10%; */
    background-image: url('../images/open-source.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.open-source img {
    visibility: hidden;
}

.open-source .pre-title{
    font-weight: bold;
    font-size: 2.5rem;
}

.open-source .carousel-caption {
    left: 10%! Important;
    right: 0! Important;
    text-align: left;
}

@media (min-width: 1200px) {
    .open-source .carousel-caption {
        bottom: 43%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .open-source .carousel-caption {
        bottom: 38%;
    }
    .open-source .carousel-caption .cover .title span{
        font-size: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .open-source .carousel-caption {
        bottom: 36%;
    }
    .open-source .carousel-caption .cover .title span{
        font-size: 70%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .open-source {
        background-image: none;
        background-color: var(--alt-color);
        padding: 0% 5%;
    }
    .open-source .carousel-caption .cover .title span{
        font-size: 60%;
    }
}

@media (max-width: 575.98px) {
    .open-source {
        background-image: none;
        background-color: var(--alt-color);
        padding: 0% 5%;
    }
    .open-source .carousel-caption .cover .pre-title {
        font-size: 1rem;
    }
    .open-source .carousel-caption .cover .title {
        padding: 0! Important;
    }
    .open-source .carousel-caption .cover button {
        margin-top: 0! Important;
    }
    .open-source .carousel-caption .cover .title span{
        font-size: 30%;
        border: none;
    }
}

.open-source .title{
    font-weight: bold;
    font-size: 6rem;
    padding-bottom: 7%;
}

.open-source h1 span {
    padding-bottom: 4%;
    border-bottom: 5px solid white;
}

/* freedom */

.freedom {
    color: var(--pm-color);
    /* padding: 20%; */
    text-align: right;
}

.freedom {
    /* color: var(--standard-color); */
    /* padding: 20% 10%; */
    background-image: url('../images/freedom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.freedom img {
    visibility: hidden;
}

.freedom .carousel-caption {
    text-align: right;
    color: var(--pm-color);
}

.freedom .pre-title{
    font-weight: bold;
    font-size: 1.5rem;  
}

.freedom .title {
    font-weight: bold;
    font-size: 6rem;
    /* padding-bottom: 7%;
    border-bottom: 5px solid white; */
}

.freedom-button {
    border: 2px solid var(--pm-color);
    border-radius: 20px;
    background-color: transparent;
    padding: 4px 10px;
    font-weight: bold;
    color: var(--pm-color);
    transition: 0.2s;
    cursor: pointer;
}

.freedom-button:hover {
    background-color: var(--pm-color);
    color: var(--standard-color);
}

@media (min-width: 1200px) {
    .freedom .carousel-caption {
        bottom: -5%;
        right: 13%
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .freedom .carousel-caption {
        bottom: -10%;
        right: 13%
    }
}

@media (max-width: 991.98px) {
    .freedom .carousel-caption {
        bottom: -15%;
        right: 13%
    }
    .freedom .pre-title {
        font-size: 1rem;
    }
    .freedom .title {
        font-size: 4rem;
    }
    .freedom-button {
        /* padding: 2px 5px; */
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .freedom {
        background-image: none;
        background-color: var(--standard-color);
        padding: 0% 5%;
    }
}

@media (max-width: 575.98px) {
    .freedom {
        background-image: none;
    }
    .freedom {
        margin-top: 10%;
        margin-bottom: 10%
    }
}


/* rising star */

.rising-star {
    margin-top: 10%;
    /* display: none; */
}

.rising-star .title{
    font-weight: bold;
    font-size: 5rem;
    background: -webkit-linear-gradient(1turn, var(--alt-color), var(--pm-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rising-star p {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--font-color);
}

@media (min-width: 1200px) {
    .rising-star .title {
        font-size: 6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .rising-star .title {
        font-size: 4rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .rising-star .title {
        font-size: 3rem;
    }
}

@media (max-width: 767.98px) {
    .rising-star .title {
        font-size: 1.5rem;
    }
    .rising-star p {
        font-size: 0.7rem;
    }
}

/* footer */

footer {
    background-color: var(--alt-color);
    color: var(--standard-color);
    padding: 4%;
    /* display: none; */
}

footer .title {
    font-weight: bold;
    font-size: 0.9rem;
}

footer .footer-top ul {
    font-size: 0.8rem;
    font-family: 'proxima_nova_ltsemibold';
    color: #93b4cc;
}

footer .footer-bottom {
    margin-top: 8%;
}

footer .footer-bottom ul {
    font-weight: bold;
    padding: 0;
    letter-spacing: 1px;
}

footer .footer-bottom a {
    color: var(--standard-color);
}

.footer-bottom ul li a i{
    font-size: 2rem
}

@media (max-width: 576px) {
    .footer-top {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .footer-bottom {
        font-size: 0.6rem;
    }
    .footer-bottom ul li {
        float: right;
    }
    .footer-bottom ul li a i{
        font-size: 1rem
    }
}

@media (max-width: 575.98px) {
    .footer-bottom ul .social-media {
        float: left;
        padding-top: 1rem;
    }
}